{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
<nav class="{{ params.name | lower | replace(" ", "-") }} display-flex" aria-label="{{ params.name }}">
  <ul class="menu__items flex-wrap">
    {%- for item in params.collection | eleventyNavigation %}
      <li class="menu__item{% if item.url == params.page.url %} menu__item--active{% endif %}">
        <a class="menu__link" href="{{ item.url | url }}" {% if item.url == params.page.url %}aria-label="Current page, {{ item.title }}"{% endif %}>{{ item.title }}</a>
      </li>
    {%- endfor %}
    {% if params.hasButton %}
      <li class="menu__item">
        <a class="menu__link btn font-xs" href="{{ params.buttonHref | url }}" role = "button">{{ params.buttonText }}</a>
      </li>
    {% endif %}
    <li class="menu__item toggle__theme--wrap ml-1h mr-1">
      <button id="dark-light-mode" class="btn-reset toggle__theme--btn" title="Theme toggle">
        {{ component('svg-icon', {
          svgWidth: 27,
          svgHeight: 27,
          svgClass: "toggle__theme--svg",
          symbolId: "theme",
          screenReader: "Click here to change the theme."
        }) }}
      </button>
    </li>
  </ul>
</nav>
