{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
<nav class="{{ params.name | lower | replace(" ", "-") }} display-flex" aria-labelledby="{{ params.name | lower | replace(" ", "-") }}">
  <h2 id="{{ params.name | lower | replace(" ", "-") }}" class="sr-only">{{ params.name | capitalize }}</h2>
  <ul class="menu__items">
    {%- for item in params.collection | eleventyNavigation %}
      <li class="menu__item{% if item.url == params.page.url %} menu__item--active{% endif %}">
        <a class="menu__link" href="{{ item.url | url }}">{{ item.title }}</a>
      </li>
    {%- endfor %}
    {% if params.hasButton %}
      <li class="menu__item mr-1">
        <a class="menu__link btn font-xs" href="{{ params.buttonHref | url }}">{{ params.buttonText }}</a>
      </li>
    {% endif %}
  </ul>
</nav>
