.mb-0 {
  margin-bottom: var(--space-0);
}

.mb-0-5 {
  margin-bottom: var(--space);
}

.mt-1 {
  margin-top: var(--space-lg-1);
}

.mb-1 {
  margin-bottom: var(--space-lg-1);
}

.ml-1h {
  margin-left: var(--space-lg-1h);
}

.mr-1 {
  margin-right: var(--space-lg-1);
}

.mb-2 {
  margin-bottom: var(--space-lg-2);
}

.mb-lg-3 {
  @include media-query(sm) {
    margin-bottom: var(--space-lg-3);
  }
}

.ml-md-auto {
  @include media-query(md) {
    margin-left: auto;
  }
}

.columns-2 {
  @include media-query(sm) {
    max-width: none;
    columns: 2;
    column-gap: var(--space-lg-2);
    orphans: 3;
  }
}

.sr-only,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.text-black {
  color: var(--body-font-color);
}

.text-muted {
  color: var(--text-muted);
}

.small-caps {
  font-variant-caps: small-caps;
}

.font-bold {
  font-weight: bold;
}

.font-xs {
  font-size: var(--font-size-xs);
}

.font-sm {
  font-size: var(--font-size-sm);
}

.grid-column-center {
  @extend %grid-column-center;
}

.grid-column-full {
  @extend %grid-column-full;
}

.display-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.underline-dashed {
  @extend %underline-dashed;
}
