// It follows system preferences
@media (prefers-color-scheme: dark) {
  :root {
    --body-background: var(--grey-900);
    --body-font-color: var(--white);
    --body-font-color-alt: var(--black);
    --heading-font-color: var(--grey-100);
    --card-background: var(--black);
    --footer-background: var(--black);
    --text-muted: var(--grey-200);
    --link-color: var(--yellow);
    --link-color-alt: var(--skyblue);
    --footer-color: var(--grey-200);
  }

  img {
    filter: grayscale(1) brightness(0.8) contrast(1.2);
  }

  pre[class*="language-"] {
    margin-top: var(--space-lg-2);
    border: var(--border-width-thin) solid var(--white);
    background-color: var(--body-background);
  }

  .post-card {
    &:hover {
      box-shadow: 0 0 1rem var(--white-400-a);
    }
  }

  .direct-link {
    &:hover {
      &::after {
        filter: brightness(500%);
      }
    }
  }

  .gradient-home {
    background-image: url("/assets/images/mesh-gradient-black.webp");
    background-repeat: no-repeat;
    background-size: contain;
  }

  /*! purgecss ignore */
  .no-webp .gradient-home {
    background-image: url("/assets/images/mesh-gradient-black.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .light-theme {
    --body-background: var(--white);
    --body-font-color: var(--grey-900);
    --body-font-color-alt: var(--white);
    --body-font-size: var(--font-size-md);
    --heading-font-color: var(--grey-800);
    --card-background: var(--white-850-a);
    --footer-background: var(--grey-200);
    --text-muted: var(--grey-700);
    --link-color: var(--blue);
    --link-color-alt: var(--purple);
    --footer-color: var(--grey-800);

    img {
      filter: grayscale(0);
    }

    pre[class*="language-"] {
      margin-top: var(--space-lg-1);
      border: var(--border-width-thin) solid var(--black);
      background-color: var(--body-font-color);
    }

    .post-card {
      &:hover {
        box-shadow: 0 10px 15px -3px var(--black-100-a), 0 -3px 6px -2px var(--black-50-a);
      }
    }

    .direct-link {
      &:hover {
        &::after {
          filter: brightness(0%);
        }
      }
    }
  }

  .gradient-home.light-theme {
    background-image: url("/assets/images/mesh-gradient-white.webp");
    background-repeat: no-repeat;
    background-size: contain;
  }

  /*! purgecss ignore */
  .no-webp .gradient-home.light-theme {
    background-image: url("/assets/images/mesh-gradient-white.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
