@media screen and (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto; }
}

// For additional information see -->
// https://twitter.com/argyleink/status/1389244232641089537?s=20
// For this to work, loading=lazy is required in image.
// https://twitter.com/argyleink/status/1417569595276206083?s=20
@media (prefers-reduced-data: reduce) {
  img, video {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: var(--grey-900);
    --body-font-color: var(--white);
    --body-font-color-alt: var(--black);
    --heading-font-color: var(--grey-100);
    --card-background: var(--black);
    --footer-background: var(--black);
    --text-muted: var(--grey-200);
    --link-color: var(--yellow);
    --link-color-alt: var(--skyblue);
    --footer-color: var(--grey-200);
  }

  img {
    filter: grayscale(1);
  }

  pre[class*="language-"] {
    border: var(--border-width-thin) solid var(--white);
    margin-top: var(--space-lg-2);
  }

  .gradient-home {
    background-image: url("/assets/images/mesh-gradient-black.jpg");
    background-image: url("/assets/images/mesh-gradient-black.webp");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .post-card {
    &:hover {
      border: var(--border-width-thin) solid var(--white);
    }
  }

  .direct-link {
    &:hover {
      &:after {
        filter: brightness(500%);
      }
    }
  }
}
