* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--darkgray);
  font-family: var(--sans-font-family);
  font-size: 1.125rem;
  line-height: 1.7;
  overflow-x: hidden;
}

p {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style-type: none;
}

hr {
  margin: 2rem 0;
}

article {
  display: grid;
  margin: 3rem 0;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 57ch)
    minmax(1.2rem, 1fr);
  overflow: hidden;
}

h1,
.h1 {
  margin-bottom: 1rem;
  color: #353535;
  font-family: var(--serif-font-family);
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  grid-column: 2 / auto;
  &> .direct-link {
    display: none;
  }
}

h2,
.h2 {
  margin: 1rem 0;
  color: #353535;
  font-family: var(--serif-font-family);
  font-size: 2.35rem;
  font-weight: bold;
  line-height: 1.2;
  grid-column: 2 / auto;
}

h3,
.h3 {
  margin: 1rem 0;
  font-family: var(--serif-font-family);
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
}

h4,
.h4 {
  margin: 1rem 0;
  font-family: var(--serif-font-family);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4;
}

h5,
.h5 {
  margin: 1rem 0;
  font-family: var(--serif-font-family);
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
}

h6,
.h6 {
  margin: 1rem 0;
  font-family: var(--serif-font-family);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6;
}

img, video {
  max-width: 100%;
  height: auto;
}

.categories {
  grid-column: 2 / auto;
  display: inline-flex;
  list-style-type: none;
  font-size: 0.875rem;
  li {
    margin-right: 0.5rem;
    padding: 0.05rem 0.5rem;
    border: 1px solid black;
    border-radius: 15px;
  }
}

p {
  grid-column: 2 / auto;
}

%img {
  height: auto;
  object-fit: cover;
  object-position: center;
}

.img {
  &-responsive {
    @extend %img;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  &-post {
    @extend %img;
    width: 90%;
    margin: 5%;
    aspect-ratio: 16 / 9;
  }
  &-accent {
    @extend %img;
    width: 90vw;
    max-height: 70vh;
    margin-bottom: 4rem;
    margin-left: 10vw;
    aspect-ratio: 3 / 1;
    box-shadow: -1.5rem 1.5rem var(--banner-border-color);
  }
  &-full {
    @extend %img;
    width: 100vw;
    max-height: 70vh;
    margin-bottom: 4rem;
    aspect-ratio: 2 / 1;
  }
  &-restricted {
    @extend %img;
    display: flex;
    align-self: center;
    width: 62rem;
    max-height: 70vh;
    margin: 0 auto 4rem;
    aspect-ratio: 2 / 1;
  }
}

.grid-column-center {
  grid-column: 2 / auto;
}

.grid-column-full {
  grid-column: 1 / 4;
}

.date-time {
  font-size: 0.875rem;
}

.post-date,
.read-time {
  color: #737373;
}

.post-date:before {
  color: black;
  content: "Published: ";
}

.read-time:before {
  color: black;
  content: " \B7  Read time: ";
}

.post-categories {
  display: flex;
}

.lead {
  font-size: 1.125rem;
}

.small-caps {
  font-variant-caps: small-caps;
}

.hero {
  padding: 0 1rem;
  //background-image: radial-gradient(#ccc 1px, #fff 1px);
  background-size: 7px 7px;
  font-family: var(--serif-font-family);
  font-size: 3rem;
  font-weight: bold;
  grid-column: 1 / 4;
  h1 {
    max-width: 60rem;
    margin: 4rem auto;
    //background: linear-gradient(90deg, #00a3b8 0%, #e17908 90%);
    //background: linear-gradient(270deg, #ed0000, #7817a8, blue);
    -webkit-background-clip: text;
    line-height: 1.3;
    //-webkit-text-fill-color: transparent;
  }
}

// =====

.tmpl-post p:not(.date-time) {
  max-width: 57ch;
  margin: 0 auto 1rem;
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

.tmpl-home > :first-child {
  margin-bottom: 3rem;
}

.tmpl-home,
.tmpl-post article,
.grid {
  display: grid;
  margin: 3rem 0;
  grid-template-columns:
  minmax(1.2rem, 1fr)
  minmax(auto, 60rem)
  minmax(1.2rem, 1fr);
  overflow: hidden;
  h3,
  ul,
  hr,
  pre,
  time,
  .post-categories,
  .post-tag {
    grid-column: 2 / auto;
  }
}

.tmpl-home {
  min-height: calc( 100vh - 92px - 6rem - 55px);
}
// main :first-child {
//   margin-top: 0;
// }


table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  margin: .5em 0;
  padding: 1em;
  background-color: #f6f6f6;
  font-size: 14px;
  line-height: 1.375;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  direction: ltr;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.tmpl-home p {
  max-width: 57ch;
}

.tagslist {
  display: flex;
}

.not-found {
  h2:first-of-type{
    margin-top: 0;
  }
}

// .gradient {
//   background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0)), url("/assets/images/topography.svg"), url("/assets/images/mesh-gradient-white.jpg");
//   background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0)), url("/assets/images/topography.svg"), url("/assets/images/mesh-gradient-white.webp");
//   background-size: cover, 700px 700px;
//   background-repeat: no-repeat, repeat;
// }

.gradient {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0)), url("/assets/images/mesh-gradient-white.jpg");
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0)), url("/assets/images/mesh-gradient-white.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
