header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media only screen and (min-width: 60em) {
    flex-direction: row;
	}

  /* Nav */
  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem;
    list-style: none;
    @media only screen and (min-width: 36em) {
      margin-bottom: 0;
    }
  }
  .nav-item {
    margin: 0 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:first-of-type{
      margin-left: 0;
    }
  }
  .nav-item a[href] {
    text-decoration: none;
    transition: all 0.20s ease;
  }
  .nav-item a[href],
  .nav-item a[href]:visited {
    color: initial;
  }
  .nav-item a[href]:hover {
    color: var(--blue);
    border-color: var(--blue);
  }
  .nav-item-active {
    // TBD
    a {
      border-bottom: 2px solid black;
      padding-bottom: 3px;
    }
  }
}

a.home {
  width: fit-content;
  margin: 1.5rem;
  padding: 3px 9px 3px 6px;
  border: 3px solid black;
  border-radius: 4px;
  color: var(--body-font-color);
  font-family: var(--sans-font-family);
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1;
  text-decoration: none;
  font-variant-caps: small-caps;
  transition: all 0.20s ease;
  &:visited {
    color: inherit;
  }
  &:hover {
    color: var(--blue);
    border-color: var(--blue);
  }
}
