.tmpl-post {
  header {
    flex-direction: column;
    grid-column: 2 / auto;
    margin-bottom: 3rem;
  }
  .content {
    grid-column: 2 / auto;
    max-width: 57ch;
    margin: 0 auto;
  }
  footer {
    grid-column: 2 / auto;
    background-color: var(--white);
    color: var(--darkgray);
    font-size: 1.125rem;
    text-align: left;
    a {
      color: var(--blue);
    }
    a:visited {
      color: var(--purple);
    }
  }
}
