/* Posts list */
.postlist {
  grid-column: 2 / auto;
  margin: 2rem 0;
  padding: 0;
  list-style: none;
  .post-tag {
    font-size: 0.75rem; //12px
  }
  .post-title {
    margin: 0.5rem 0;
  }
  .date-time {
    padding-top: 1rem;
    border-top: 1px solid #eaeaea;
  }
}

.postlist-link,
.postlist-link:hover,
.postlist-link:visited {
  display: block;
  padding: 1.5rem;
  color: var(--darkgray);
  text-decoration: none;
}

.postlist-item {
  margin-bottom: 2rem;
  //border: 1px solid #ccc;
  border-radius: 15px;
  max-width: 57ch;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 -3px 6px -2px rgba(0,0,0,0.05);
  //box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.tmpl-home {
  .postlist {
    // font-size: 1.1875em; /* 19px /16 */
    // font-weight: 700;
  }
}
