/* Posts list */
.postlist {
  grid-column: 2 / auto;
  margin: 2rem 0;
  padding: 0;
  list-style: none;
  //new
	// columns: 3;
	// column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.7rem;
  @media all and (min-width: 36em) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media all and (min-width: 64em) {
    grid-template-columns: repeat(3, 1fr);
  }
  .post-tag {
    font-size: 0.75rem; //12px
  }
  .post-title {
    margin: 0.5rem 0;
  }
  .date-time {
    padding-top: 1rem;
    border-top: 1px solid #eaeaea;
  }
}

// .postlist > * + * {
//   margin-left: 1.5rem;
// }

.postlist-link,
.postlist-link:hover,
.postlist-link:visited {
  display: block;
  //new
  //padding: 1.5rem;
  //display: flex;
  //flex-direction: column;
  color: var(--darkgray);
  text-decoration: none;
}

.postlist-item {
  //border: 1px solid #ccc;
  border-radius: 15px;
  max-width: 57ch;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 -3px 6px -2px rgba(0,0,0,0.05);
  //box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
  //new
  background-color: #ffffffb3;
  //width: calc(33.3% - 1rem);
  transition: all 0.20s ease;
  &:last-of-type {
    margin-bottom: 1rem;
  }
  &:hover {
    filter: invert(1) contrast(1.5);
  }
}

//new
.post-image {
  //display: flex;
  // img {
  //   aspect-ratio: 16 / 9;
  //   object-fit: cover;
  // }
  display: flex;
  height: 10rem;
  filter: grayscale(1) brightness(1.5);
  img {
    width: 100%;
    object-fit: cover;
  }
}
.post-content {
  padding: 1.5rem;
  p:not(.post-title) {
    font-size: 1rem;
  }
}
.post-categories {
  margin-bottom: 1rem;
}

.tmpl-home {
  .postlist {
    // font-size: 1.1875em; /* 19px /16 */
    // font-weight: 700;
  }
}
