:root {
  //Media queries breakpoints
	//36rem * 16px = 576px
	--breakpoint-xs: 36em;
	//48rem * 16px = 768px
  //60rem * 16px = 960px;
	//62rem * 16px = 992px
	//64rem * 16px = 1024px
	//80rem * 16px = 1280px
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #353535;
  --purple: purple;
  --blue: blue;
  --white: #fff;
  --black: #000;
  --powderblue: hsl(187, 51.9%, 79.6%);
  --lemonchiffon: hsl(54, 100%, 90.2%);
  --background: var(--white);
  --body-font-color: var(--black);
  --serif-font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --sans-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, cursive;
  --mono-font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

