/* Tags */
.post-tag {
  display: inline-block;
  margin-left: 0.8em; /* 8px /10 */
  padding: 2px 4px;
  border-radius: 0.25em; /* 3px /12 */
  background-color: var(--red);
  color: var(--white);
  font-size: 0.625em; /* 10px /16 */
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: text-top;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}
