{% extends 'layouts/base.njk' %}

{% if templateClass is not defined %}
  {% set templateClass = 'tmpl-home grid' %}
{% endif %}

{%- if title %}
  <h1>{{ title }}</h1>
{% endif %}

{% block content %}
  {{ content | safe }}
{% endblock %}
