<svg xmlns="http://www.w3.org/2000/svg" width="{{ params.svgWidth }}" height="{{ params.svgHeight }}" viewBox="0 0 {{ params.svgWidth }} {{ params.svgHeight }}" class="icon {{ params.svgClass }}" aria-label="{{ params.ariaLabel }}">
  <use href="#{{ params.symbolId }}" class="{{ params.symbolId }}"></use>
  <span class="sr-only">{{ params.screenReader }}</span>
</svg>
