* {
	box-sizing: border-box;
	margin: var(--space-0);
	padding: var(--space-0);
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: var(--yellow);
  color: var(--body-font-color);
}

::selection {
  background-color: var(--yellow);
  color: var(--body-font-color);
}

body {
  width: 100vw;
  background-color: var(--body-background);
  color: var(--body-font-color);
  font-family: var(--sans-font-family);
  font-size: var(--body-font-size);
  line-height: 1.7;
  overflow-x: hidden;
}

.dark-theme {
  --body-background: var(--grey-900);
  --body-font-color: var(--white);
  --body-font-color-alt: var(--black);
  --heading-font-color: var(--grey-100);
  --card-background: var(--black);
  --footer-background: var(--black);
  --text-muted: var(--grey-200);
  --link-color: var(--yellow);
  --link-color-alt: var(--skyblue);
  --footer-color: var(--grey-200);

  img {
    filter: grayscale(1) brightness(.8) contrast(1.2);
  }

  pre[class*="language-"] {
    margin-top: var(--space-lg-2);
    border: var(--border-width-thin) solid var(--white);
    background-color: var(--body-background);
  }

  .post-card {
    &:hover {
      box-shadow: 0 0 1rem var(--white-400-a);
    }
  }

  .direct-link {
    &:hover {
      &:after {
        filter: brightness(500%);
      }
    }
  }

  &.gradient-home {
    background-image: url("/assets/images/mesh-gradient-black.webp");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.no-webp .dark-theme.gradient-home {
  background-image: url("/assets/images/mesh-gradient-black.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

p {
  @extend %grid-column-center;

  margin-bottom: var(--space-lg-1);
  &:last-child {
    margin-bottom: var(--space-0);
  }
}

ul {
  list-style-type: none;
}

hr {
  margin: var(--space-lg-2) var(--space-0);
}

article {
  display: grid;
  margin: var(--space-lg-3) var(--space-0);
  grid-template-columns:
    minmax(var(--space-lg-1), 1fr)
    minmax(auto, var(--line-length))
    minmax(var(--space-lg-1), 1fr);
  overflow: hidden;
}

img, video {
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
}

// Focus state as seen in: https://moderncss.dev/modern-css-upgrades-to-improve-accessibility/

a {
  color: var(--link-color);
  &:visited {
    color: var(--link-color-alt);
  }
  &:focus {
    outline: var(--border-width-medium) dashed var(--link-color-alt);
    outline-offset: var(--space-sm-4);
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
  &:focus-visible {
    outline: var(--border-width-medium) dashed var(--link-color-alt);
    outline-offset: var(--space-sm-4);
  }
}

pre,
code {
  font-family: var(--mono-font-family);
  line-height: 1.5;
}
pre {
  margin: var(--space) var(--space-0);
  padding: var(--space-lg-1);
  background: var(--body-background); //For a better integration of Mermaid charts with body background.
  font-size: var(--font-size-sm);
  line-height: 1.375;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  direction: ltr;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  //Fix issue with pre inside columns breaking incorrectly
  display: block;
  //To avoid overflow in small devices
  max-width: calc(100vw - var(--space-lg-3));
  margin: var(--space-lg-1) var(--space-0);
  //Fix issue with prism
  padding: var(--space-lg-1);
  background-color: var(--body-font-color);
}
