* {
	box-sizing: border-box;
	margin: var(--space-0);
	padding: var(--space-0);
}

body {
  width: 100vw;
  background-color: var(--body-background);
  color: var(--body-font-color);
  font-family: var(--sans-font-family);
  font-size: var(--body-font-size);
  line-height: 1.7;
  overflow-x: hidden;
}

p {
  @extend %grid-column-center;

  margin-bottom: var(--space-simple);
  &:last-child {
    margin-bottom: var(--space-0);
  }
}

ul {
  list-style-type: none;
}

hr {
  margin: var(--space-double) var(--space-0);
}

article {
  display: grid;
  margin: var(--space-large) var(--space-0);
  grid-template-columns:
    minmax(var(--space-simple), 1fr)
    minmax(auto, 57ch)
    minmax(var(--space-simple), 1fr);
  overflow: hidden;
}

img, video {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

pre,
code {
  font-family: var(--mono-font-family);
  line-height: 1.5;
}
pre {
  margin: var(--space) var(--space-0);
  padding: var(--space-simple);
  background-color: var(--body-background); //For a better integration of Mermaid charts with body background.
  font-size: var(--font-size-sm);
  line-height: 1.375;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  direction: ltr;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
