* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--body-background);
  color: var(--body-font-color);
  font-family: var(--sans-font-family);
  font-size: 1.125rem;
  line-height: 1.7;
  overflow-x: hidden;
}

p {
  @extend %grid-column-center;

  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style-type: none;
}

hr {
  margin: 2rem 0;
}

article {
  display: grid;
  margin: 3rem 0;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 57ch)
    minmax(1.2rem, 1fr);
  overflow: hidden;
}

img, video {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--mono-font-family);
  line-height: 1.5;
}
pre {
  margin: .5em 0;
  padding: 1em;
  background-color: var(--body-background); //For a better integration of Mermaid charts with body background.
  font-size: 14px;
  line-height: 1.375;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  direction: ltr;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
