h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: var(--space-simple) 0;
  font-family: var(--serif-font-family);
  font-weight: bold;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 3rem;
  // Explanation about the magic numbers:
  // https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
  // See also: https://fluid-typography.netlify.app/
  // The unquote function is necessary to about the following error on Sass compilation --> "Incompatible units: 'rem' and 'vw'."
  font-size: unquote("clamp(2rem, 8.3vw - 2rem, 3rem)");
  line-height: 1.1;
  &> .direct-link {
    display: none;
  }
}

h2,
.h2 {
  font-size: 2.35rem;
  // Explanation about the magic numbers:
  // https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
  // See also: https://fluid-typography.netlify.app/
  // The unquote function is necessary to about the following error on Sass compilation --> "Incompatible units: 'rem' and 'vw'."
  font-size: unquote("clamp(1.65rem, 8.3vw - 2rem, 2.35rem)");
  line-height: 1.2;
}

h3,
.h3 {
  font-size: 2rem;
  line-height: 1.3;
}

h4,
.h4 {
  font-size: 1.5rem;
  line-height: 1.4;
}

h5,
.h5 {
  font-size: 1.25rem;
  line-height: 1.5;
}

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.6;
}
