
// -----------------------------------------------------------------------------
// This file contains CSS utility classes.
// -----------------------------------------------------------------------------

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-lg-3 {
  @include media-query(sm) {
    margin-bottom: 3rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

.width-100 {
  width: 100vw;
}

.text-black {
  color: var(--black);
}

.text-muted {
  color: var(--grey-600);
}

.text-lead {
  font-size: 1.125rem;
}

.small-caps {
  font-variant-caps: small-caps;
}

.font-bold {
  font-weight: bold;
}

.font-small {
  font-size: var(--font-size-small);
}

.grid-column-center {
  @extend %grid-column-center;
}

.grid-column-full {
  @extend %grid-column-full;
}

.display-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}
