
// -----------------------------------------------------------------------------
// This file contains CSS utility classes.
// -----------------------------------------------------------------------------

.mb-0 {
  margin-bottom: var(--space-0);
}

.mb-0-5 {
  margin-bottom: var(--space);
}

.mt-1 {
  margin-top: var(--space-simple);
}

.mb-1 {
  margin-bottom: var(--space-simple);
}

.mr-1 {
  margin-right: var(--space-simple);
}

.mb-2 {
    margin-bottom: var(--space-double);
}

.mb-lg-3 {
  @include media-query(sm) {
    margin-bottom: var(--space-large);
  }
}

.ml-md-auto {
  @include media-query(md) {
    margin-left: auto;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

.width-100 {
  width: 100vw;
}

.text-black {
  color: var(--black);
}

.text-muted {
  color: var(--grey-600);
}

.small-caps {
  font-variant-caps: small-caps;
}

.font-bold {
  font-weight: bold;
}

.font-small {
  font-size: var(--font-size-sm);
}

.grid-column-center {
  @extend %grid-column-center;
}

.grid-column-full {
  @extend %grid-column-full;
}

.display-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}
