{# collections.tagList returns only the tags added in markdown files. #}

<div class="post-card__image">
  {% if params.post.data.imgUrl %}
    <img src="{{ params.post.data.imgUrl | imgSize }}" alt="{{ params.post.data.imgAlt }}" loading="lazy" decoding="async">
  {% else %}
    <img src="
      https://source.unsplash.com/collection/2195859/640x440/?sig={{ range(0, 99) | random }}/daily" alt="Random abstract image to fill the card." loading="lazy" decoding="async" width="640" height="440">
  {% endif %}
</div>
<div class="post-card__content">
  {% if params.post.data.tags %}
    <ul class="post-card__tags display-flex">
      {% for tag in params.post.data.tags %}
        {# Check if tag exists in tagList. If indexOf is -1 means that the tag is 'posts', the one added to all posts from posts.json #}
        {# An alternative way to filter the generic tags from posts.json can be seen here https://stackoverflow.com/questions/66261187/11ty-how-to-display-post-tags-in-my-post-njk-file #}
        {%- if params.tagList.indexOf(tag) != -1 -%}
          <li class="post-card__tag">
            <span>#{{ tag }}</span>
          </li>
        {% endif %}
      {%- endfor %}
    </ul>
  {% endif %}
  {% if params.post.data.title %}
    <p class="post-card__title h5">
      <a class="post-card__link" href="{{ params.post.url | url }}">{{ params.post.data.title }}</a>
    </p>
  {% endif %}
  {% if params.post.data.description %}
    <p>{{ params.post.data.description }}</p>
  {% endif %}
  {%- if params.post.date %}
    <div class="post-card__date-time">
      <time class="post-card__date text-muted font-sm" datetime="{{ params.post.date | dateStringISO }}">
        {{ params.post.date | dateFilter }}
      </time>
      <span class="font-bold" aria-hidden="true">&middot;</span>
      <span class="post-card__time text-muted font-sm">{{ params.post | readingTime }} read</span>
    </div>
  {% endif %}
</div>
