<footer class="footer grid mb-0">
  <div class="footer-top">
    <div class="footer-top-left mb-1">
      <a class="home" href="{{ '/' | url }}">{{ metadata.title }}</a>
      <p>{{ metadata.title }} is maintained by {{ metadata.author.name }} as a quick start for some of her projects, but happy to share it for anyone that might find it useful. Check the repo on GitHub.</p>
      <p>This page was generated on {% today %}</p>
    </div>
    <div class="footer-top-right">
      <div class="footer-quick-links">
        <p class="h6">Quick links</p>
        <ul class="nav">
          <li>
            <a href="{{ '/' | url }}">Home</a>
          </li>
          <li>
            <a href="{{ '/posts' | url }}">Blog</a>
          </li>
          <li>
            <a href="{{ '/about' | url }}">About</a>
          </li>
          <li>
            <a href="mailto:helloygoex@gmail.com">Contact</a>
          </li>
          <li>
            <a href="{{ '/sitemap' | url }}">Sitemap</a>
          </li>
        </ul>
      </div>
      <div class="footer-contact-follow">
        <div class="footer-contact">
          <p class="h6 text-bold">Contact me</p>
          <a href="mailto:helloygoex@gmail.com">helloygoex@gmail.com</a>
        </div>
        <div class="footer-follow">
          <p class="h6 text-bold">Follow me</p>
          <nav>
            <ul class="social-links">
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/ygoex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="icon " aria-label="Twitter">
                    <use href="#icon-social-twitter" class="icon-social-twitter"></use>
                  </svg>
                  <span class="sr-only">Follow us on Twitter</span>
                </a>
              </li>
              <li>
                <a class="nav-link" href="https://codepen.io/ygoex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" class="icon " aria-label="Codepen">
                    <use href="#icon-social-codepen" class="icon-social-codepen"></use>
                  </svg>
                  <span class="sr-only">Follow me on Codepen</span>
                </a>
              </li>
              <li>
                <a class="nav-link" href="https://dribbble.com/ygoex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="icon " aria-label="Dribbble">
                    <use href="#icon-social-dribbble" class="icon-social-dribbble"></use>
                  </svg>
                  <span class="sr-only">Follow me on Dribbble</span>
                </a>
              </li>
              {# <li>
                <a class="nav-link" href="https://www.behance.net/ygoex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="icon " aria-label="Behance">
                    <use href="#icon-social-behance" class="icon-social-behance"></use>
                  </svg>
                  <span class="sr-only">Follow me on Behance</span>
                </a>
              </li> #}
              <li>
                <a class="nav-link" href="https://www.linkedin.com/in/ygoex/">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="icon " aria-label="LinkedIn">
                    <use href="#icon-social-linkedin" class="icon-social-linkedin"></use>
                  </svg>
                  <span class="sr-only">Follow me on LinkedIn</span>
                </a>
              </li>
              <li>
                <a class="nav-link" href="{{ metadata.feed.path | url }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 2 18 22" class="icon " aria-label="LinkedIn">
                    <use href="#icon-social-rss" class="icon-social-rss"></use>
                  </svg>
                  <span class="sr-only">Subscribe to my feed.</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright">&copy; {% year %}
    <a href="https://github.com/ygoex">Ygoex</a> - Powered by <a href="https://11ty.io">Eleventy</a> and <a href="https://www.netlify.com">Netlify</a>
  </p>
</footer>
