<header>
  <a class="home" href="{{ '/' | url }}">{{ metadata.title }}</a>

  {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
  <ul class="nav">
    {%- for entry in collections.all | eleventyNavigation %}
      <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
    <li class="nav-item btn btn-link">
      <a href="mailto:helloygoex@gmail.com">Contact</a>
    </li>
  </ul>
</header>
