{% from "layouts/partials/components/navigation/macro.njk" import navigation with context %}

<header>
  <a class="home" href="{{ '/' | url }}">{{ metadata.title }}</a>

  {{ navigation({
  name: "Main menu"
}) }}
</header>
