<header role="banner">
  <a class="home" href="{{ '/' | url }}">{{ metadata.title }}</a>

  {{ component('navigation', {
      name: "Main menu",
      collection: collections.all,
      page: page,
      hasButton: true,
      buttonText: "Get the code!",
      buttonHref: "https://github.com/ygoex/yetty"
  }) }}
</header>
