<ul class="postlist">
  {% for post in postslist | reverse %}
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      <a href="{{ post.url | url }}" class="postlist-link">
        <div class="post-image">
          {% if post.data.imgUrl %}
            <img src="{{ post.data.imgUrl | imgSize }}" alt="{{ post.data.imgAlt }}" loading="lazy" decoding="async">
          {% else %}
            <img src="
            https://source.unsplash.com/collection/2195859/640x440/?sig={{ range(0, 99) | random }}/daily" alt="random" loading="lazy" decoding="async" width="640" height="440">
          {% endif %}
        </div>
        <div class="post-content">
          <ul class="post-categories display-flex">
            {% for tag in post.data.tags %}
              {%- if collections.tagList.indexOf(tag) != -1 -%}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <li>
                  <span class="post-tag">#{{ tag }}</span>
                </li>
              {% endif %}
            {%- endfor %}
          </ul>
          {% if post.data.title %}
            <p class="post-title h5">{{ post.data.title }}</p>
          {% else %}
            <code>{{ post.url }}</code>
          {% endif %}
          {% if post.data.description %}
            <p>{{ post.data.description }}</p>
          {% endif %}
          {%- if post.date %}
            <div class="date-time">
              <time class="post-date text-muted font-small" datetime="{{ post.date | dateStringISO }}">
                {{ post.date | dateFilter }}
              </time>
              <span class="font-bold">&middot;</span>
              <span class="read-time text-muted font-small">{{ post | readingTime }} read</span>
            </div>
          {% endif %}
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
