{# Note how we’ve added with context to our import statement, which allows us to use the global data collections.tagList inside our macro. This is necessary because macros are totally encapsulated from the page variable scope. #}

{% from "layouts/partials/components/post-card/post-card.njk" import postCard with context %}

<ul class="postlist">
  {% for post in postslist %}
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      {{ postCard(post) }}
    </li>
  {% endfor %}
</ul>
