{% from "layouts/partials/components/post-card/macro.njk" import postCard %}

<ul class="postlist">
  {% for post in postslist %}
    <li class="postlist__item">
      {{ postCard({
        post: post,
        tagList: collections.tagList
        })
      }}
    </li>
  {% endfor %}
</ul>
