{% from "layouts/partials/cards.njk" import postCard %}

<ul class="postlist">
  {% for post in postslist %}
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      {{ postCard(post) }}
    </li>
  {% endfor %}
</ul>
