{%- macro tagsList(tags = collections.tagList) -%}
  <ul class="display-flex test">
    {% for tag in tags.sort() %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <li>
        <a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
