
// -----------------------------------------------------------------------------
// Settings: CSS variables for fonts, colours, etc.
// -----------------------------------------------------------------------------

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// Media queries breakpoints
/// 36rem * 16px = 576px
/// 48rem * 16px = 768px
/// 60rem * 16px = 960px;
/// 62rem * 16px = 992px; not in use yet
/// 64rem * 16px = 1024px;
/// 80rem * 16px = 1280px;
$breakpoints: (
  'xs': 36em,
  'sm': 48em,
  'md': 60em,
  'lg': 64em,
  'xl': 80em,
) !default;

// https://toolness.github.io/accessible-color-matrix/
$colours: (
  'white': hsl(0, 0%, 100%), //#fff
  'grey-100': hsl(0, 0%, 96%), //#f5f5f5 //base,pre background
  'grey-200': hsl(0, 0%, 92%), //#eaeaea //footer background
  'grey-300': hsl(0, 0%, 80%), //ccc //used in pattern gradients
  'grey-600': hsl(0, 0%, 45%), //#737373 //muted text
  'grey-700': hsl(0, 0%, 29%), //#494949 //footer text minimum contrast over grey-200
  'grey-800': hsl(0, 0%, 21%), //#353535 //body text
  'grey-900': hsl(0, 0%, 13%), //#222 //hero text
  'black': hsl(0, 0%, 0%), //#000
  'black-50-a': hsla(0, 0%, 0%, 0.05), //card shadow 1
  'black-100-a': hsla(0, 0%, 0%, 0.1), //card shadow 2
  'white-700-a': hsla(0, 0%, 100%, 0.7), //card background
  'purple': hsl(300, 100%, 25%),
  'blue': hsl(240, 100%, 50%)
);

:root {

  @each $name, $color in $colours {
    --#{$name}: #{$color};
  }

  --body-background: var(--white);
  --body-font-color: var(--grey-900);
  --font-size-small: 0.875rem;

  // Sans System fonts explanation:
  // The browser looks for each successive font, preferring the first one if // possible, and falls back to the next if it cannot find the font (on the // system or defined in CSS).
  // 1. -apple-system is San Francisco, used on ios and macos (not Chrome however)
  // 2. BlinkMacSystemFont is San Francisco, used on macOS Chrome
  // 3. Segoe UI is used on Windows 10
  // 4. Roboto is used on Android
  // 5. Oxygen-Sans is used on Linux with KDE
  // 6. Ubuntu is used on Ubuntu (all variants)
  // 7. Cantarell is used on Linux with GNOME Shell
  // 8. "Helvetica Neue" and Helvetica is used on macOS 10.10 and below (wrapped // in quotes because it has a space)
  // 9. Arial is a font widely supported by all operating systems
  // 10. sans-serif is the fallback sans-serif font if none of the other fonts are supported

  // More about system fonts can be read here:
  // https://iainbean.com/posts/2021/system-fonts-dont-have-to-be-ugly/
  // https://practicaltypography.com/system-fonts.html
  // https://readium.org/readium-css/docs/CSS09-default_fonts.html
  // https://gist.github.com/ygoex/a7b8e3ccedbdf9897bad677aaff49290

  --sans-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, cursive;
  --serif-font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --mono-font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
