<ul class="display-flex flex-wrap tag__items">
  {% for tag in params
    .tags
    .sort() %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <li class="tag__item">
      <a class="tag__link" href="{{ tagUrl | url }}">#{{ tag }}</a>
    </li>
  {% endfor %}
</ul>
