<ul class="display-flex">
  {% for tag in tags.sort() %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <li>
      <a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a>
    </li>
  {% endfor %}
</ul>
