---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<h1>Archive</h1>

{% image "https://images.unsplash.com/photo-1612742491367-04acdf256856",
"Ink in water", "(min-width: 30em) 50vw, 100vw" %}

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
