---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<h1>Archive</h1>

{% imageNjk "https://source.unsplash.com/8g__j-nqWXc/",
"Ink in water", "(min-width: 30em) 50vw, 100vw", "grid-column-full", "img-accent", "#3f51b5" %}

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
