---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<h2>Archive</h2>

{# {% image "https://source.unsplash.com/8g__j-nqWXc/",
"Ink in water", "(min-width: 30em) 50vw, 100vw" %} #}

<img class="img-test" src="/assets/images/engin-akyurt--GVpdpShB7M-unsplash.jpg" alt="Kitten" title="A cute kitten"/>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
