---
permalink: /posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
eleventyNavigation:
  key: Blog
  order: 2
pagination:
  data: collections.posts
  size: 3
  alias: posts
  reverse: true
---
{% from "layouts/partials/tagslist.njk" import tagsList with context %}

{% extends 'layouts/home.njk' %}

{% block content %}
  <div class="blog-heading-tags">
    <h1>Blog</h1>
    {{ tagsList() }}
  </div>

  {% imageNjk "https://source.unsplash.com/-K6JMRMj4x4/",
  "Ink in water", "(min-width: 30em) 50vw, 100vw", "grid-column-full", "img-full", "#3f51b5" %}

  {% set allPosts = collections.posts %}
  {% set postslist = posts %}

  {% if postslist.length < allPosts.length %}
    {% set paginationNextText = 'Older posts' %}
    {% set paginationNextUrl = pagination.nextPageHref %}
    {% set paginationPrevUrl = pagination.previousPageHref %}
  {% endif %}

  {% include "layouts/partials/postslist.njk" %}
  {% include "layouts/partials/pagination.njk" %}

{% endblock %}
