---
title: Blog
imgUrl: https://source.unsplash.com/-K6JMRMj4x4/
imgAlt: Disassembled typewriter
imgSize: '(min-width: 30em) 50vw, 100vw'
pictureClass: grid-column-full
imgClass: img-full
imgBorderColor: '#3f51b5'
eleventyComputed:
    description: Thoughts & ramblings by {{ metadata.author.name }}
permalink: /posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
eleventyNavigation:
  key: Blog
  order: 2
pagination:
  data: collections.posts
  size: 3
  alias: posts
  reverse: true
---

{% extends 'layouts/home.njk' %}

{% block content %}
  <div class="blog-heading-tags">
    <h1>{{ title }}</h1>
    {{ component('tags-list', {
        tags: collections.tagList
    }) }}
  </div>

  {% imageNjk imgUrl, imgAlt, imgSize, pictureClass, imgClass, imgBorderColor %}

  {% set allPosts = collections.posts %}
  {% set postslist = posts %}

  {% include "layouts/partials/posts-list.njk" %}
  {% include "layouts/partials/pagination.njk" %}

{% endblock %}
