---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 2
---
<div class="blog-heading-tags grid-column-center">
  <h1>Blog</h1>
  {% include "layouts/partials/tagslist.njk" %}
</div>

{% imageNjk "https://source.unsplash.com/8g__j-nqWXc/",
"Ink in water", "(min-width: 30em) 50vw, 100vw", "grid-column-full", "img-full", "#3f51b5" %}

{% set postslist = collections.posts %}
{% include "layouts/partials/postslist.njk" %}

{# <div class="blog-posts-tags">
  {% include "layouts/partials/postslist.njk" %}
  {% include "layouts/partials/tagslist.njk" %}
</div> #}
