:root {
  --breakpoint-xs: 36em;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #353535;
  --purple: purple;
  --blue: blue;
  --white: #fff;
  --black: #000;
  --powderblue: hsl(187, 51.9%, 79.6%);
  --lemonchiffon: hsl(54, 100%, 90.2%);
  --background: var(--white);
  --body-font-color: var(--black);
  --serif-font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --sans-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, cursive;
  --mono-font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--darkgray);
  font-family: var(--sans-font-family);
  font-size: 1.125rem;
  line-height: 1.7;
  overflow-x: hidden; }

p {
  margin-bottom: 1rem; }
  p:last-child {
    margin-bottom: 0; }

ul {
  list-style-type: none; }

hr {
  margin: 1rem 0; }

article {
  display: grid;
  margin: 3rem 0;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 57ch) minmax(1.2rem, 1fr);
  overflow: hidden; }

h1 {
  margin-bottom: 1rem;
  color: #353535;
  font-family: var(--serif-font-family);
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  grid-column: 2 / auto; }

h2 {
  margin-bottom: 1rem;
  color: #353535;
  font-family: var(--serif-font-family);
  font-size: 2.35rem;
  font-weight: bold;
  line-height: 1.2;
  grid-column: 2 / auto; }

h3 {
  margin-bottom: 1rem;
  font-family: var(--serif-font-family);
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3; }

h4 {
  margin-bottom: 1rem;
  font-family: var(--serif-font-family);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4; }

h5 {
  margin-bottom: 1rem;
  font-family: var(--serif-font-family);
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5; }

h6 {
  margin-bottom: 1rem;
  font-family: var(--serif-font-family);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6; }

img, video {
  max-width: 100%;
  height: auto; }

.categories {
  grid-column: 2 / auto;
  display: inline-flex;
  list-style-type: none;
  font-size: 0.875rem; }
  .categories li {
    margin-right: 0.5rem;
    padding: 0.05rem 0.5rem;
    border: 1px solid black;
    border-radius: 15px; }

p {
  grid-column: 2 / auto; }

.img-responsive, .img-post, .img-accent, .img-full, .img-restricted {
  height: auto;
  object-fit: cover;
  object-position: center; }

.img-responsive {
  width: 100%;
  aspect-ratio: 16 / 9; }

.img-post {
  width: 90%;
  margin: 5%;
  aspect-ratio: 16 / 9; }

.img-accent {
  width: 90vw;
  max-height: 70vh;
  margin-bottom: 4rem;
  margin-left: 10vw;
  aspect-ratio: 3 / 1;
  box-shadow: -1.5rem 1.5rem var(--banner-border-color); }

.img-full {
  width: 100vw;
  max-height: 70vh;
  margin-bottom: 4rem;
  aspect-ratio: 2 / 1; }

.img-restricted {
  display: flex;
  align-self: center;
  width: 62rem;
  max-height: 70vh;
  margin: 0 auto 4rem;
  aspect-ratio: 2 / 1; }

.grid-column-center {
  grid-column: 2 / auto; }

.grid-column-full {
  grid-column: 1 / 4; }

.date-time {
  font-size: 0.875rem; }

.post-date,
.read-time {
  color: #737373; }

.post-date:before {
  color: black;
  content: "Published: "; }

.read-time:before {
  color: black;
  content: " \B7  Read time: "; }

.post-categories {
  display: flex; }

.lead {
  font-size: 1.125rem; }

.small-caps {
  font-variant-caps: small-caps; }

.scroll-down {
  position: absolute;
  bottom: 30px;
  right: 30px; }

.scroll-down:before, .scroll-down:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border-bottom: 1px solid blue;
  border-right: 1px solid blue; }

.scroll-down:before {
  animation: down-arrow-before 3s cubic-bezier(0.77, 0, 0.175, 1) infinite; }

.scroll-down:after {
  animation: down-arrow-after 3s cubic-bezier(0.77, 0, 0.175, 1) infinite; }

@keyframes down-arrow-before {
  50% {
    transform: rotate(45deg) translate(70%, 70%); }
  100% {
    transform: rotate(45deg) translate(70%, 70%); } }

@keyframes down-arrow-after {
  50% {
    transform: rotate(45deg) translate(110%, 110%);
    opacity: 0; }
  51% {
    transform: rotate(45deg) translate(-130%, -130%); }
  100% {
    transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1; } }

.hero {
  grid-column: 1 / 4;
  margin-bottom: 3rem;
  background-image: radial-gradient(#bdbdbd 1px, #fff 1px);
  background-size: 20px 20px;
  font-size: 3rem;
  font-family: var(--serif-font-family);
  font-weight: bold; }
  .hero h1 {
    max-width: 60rem;
    margin: 4rem auto;
    line-height: 1.3; }

.tmpl-post p:not(.date-time) {
  max-width: 57ch;
  margin: 0 auto 1rem; }

a {
  color: var(--blue); }

a:visited {
  color: var(--purple); }

.tmpl-home,
.tmpl-post article {
  display: grid;
  margin: 3rem 0;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 60rem) minmax(1.2rem, 1fr);
  overflow: hidden; }
  .tmpl-home h3,
  .tmpl-home ul,
  .tmpl-home hr,
  .tmpl-home pre,
  .tmpl-home time,
  .tmpl-home .post-categories,
  .tmpl-home .post-tag,
  .tmpl-post article h3,
  .tmpl-post article ul,
  .tmpl-post article hr,
  .tmpl-post article pre,
  .tmpl-post article time,
  .tmpl-post article .post-categories,
  .tmpl-post article .post-tag {
    grid-column: 2 / auto; }

footer {
  padding: 1rem;
  background-color: var(--darkgray);
  color: var(--white);
  font-size: 0.85rem;
  text-align: center; }
  footer a {
    color: powderblue; }
  footer a:visited {
    color: lemonchiffon; }

table {
  margin: 1em 0; }

table td,
table th {
  padding-right: 1em; }

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5; }

pre {
  margin: .5em 0;
  padding: 1em;
  background-color: #f6f6f6;
  font-size: 14px;
  line-height: 1.375;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  direction: ltr;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (min-width: 36em) {
    header {
      flex-direction: row; } }

a.home {
  width: fit-content;
  margin: 1.5rem;
  padding: 3px 9px 3px 6px;
  border: 3px solid black;
  border-radius: 4px;
  color: var(--body-font-color);
  font-family: var(--sans-font-family);
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1;
  text-decoration: none;
  font-variant-caps: small-caps; }
  a.home:visited {
    color: inherit; }

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
  list-style: none; }
  @media only screen and (min-width: 36em) {
    .nav {
      margin-bottom: 0; } }

.nav-item {
  margin: 0 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .nav-item:first-of-type {
    margin-left: 0; }

.nav-item a[href]:not(:hover) {
  text-decoration: none; }

.nav-item a[href],
.nav-item a[href]:visited {
  color: initial; }

/* Posts list */
.postlist {
  grid-column: 2 / auto;
  margin-bottom: 1.5rem;
  padding: 0;
  list-style: none; }

.postlist-date {
  word-spacing: -0.5px; }

.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em;
  /* 4px 3px /16 */ }

.postlist-item-active .postlist-link {
  font-weight: bold; }

.tmpl-home .postlist-link {
  font-size: 1.1875em;
  /* 19px /16 */
  font-weight: 700; }

.tmpl-post header {
  flex-direction: column;
  grid-column: 2 / auto;
  margin-bottom: 3rem; }

.tmpl-post .content {
  grid-column: 2 / auto;
  width: 57ch;
  margin: 0 auto; }

.tmpl-post footer {
  grid-column: 2 / auto;
  background-color: var(--white);
  color: var(--darkgray);
  font-size: 1.125rem;
  text-align: left; }
  .tmpl-post footer a {
    color: var(--blue); }
  .tmpl-post footer a:visited {
    color: var(--purple); }

/* Tags */
.post-tag {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.05em 0.5em;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 0.857rem;
  text-decoration: none;
  vertical-align: text-top; }
  .post-tag:first-of-type {
    margin-left: 0; }

a[href].post-tag,
a[href].post-tag:visited {
  color: initial; }

/*# sourceMappingURL=main.css.map */