:root {
  --breakpoint-xs: 36em;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #353535;
  --purple: purple;
  --blue: blue;
  --white: #fff;
  --black: #000;
  --powderblue: hsl(187, 51.9%, 79.6%);
  --lemonchiffon: hsl(54, 100%, 90.2%);
  --background: var(--white);
  --body-font-color: var(--black);
  --serif-font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --sans-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, cursive;
  --mono-font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--darkgray);
  font-family: var(--sans-font-family);
  font-size: 1.125rem;
  line-height: 1.7;
  overflow-x: hidden; }

p {
  margin-bottom: 1rem; }
  p:last-child {
    margin-bottom: 0; }

ul {
  list-style-type: none; }

hr {
  margin: 2rem 0; }

article {
  display: grid;
  margin: 3rem 0;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 57ch) minmax(1.2rem, 1fr);
  overflow: hidden; }

h1,
.h1 {
  margin-bottom: 1rem;
  color: #353535;
  font-family: var(--serif-font-family);
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  grid-column: 2 / auto; }
  h1 > .direct-link,
  .h1 > .direct-link {
    display: none; }

h2,
.h2 {
  margin: 1rem 0;
  color: #353535;
  font-family: var(--serif-font-family);
  font-size: 2.35rem;
  font-weight: bold;
  line-height: 1.2;
  grid-column: 2 / auto; }

h3,
.h3 {
  margin: 1rem 0;
  font-family: var(--serif-font-family);
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3; }

h4,
.h4 {
  margin: 1rem 0;
  font-family: var(--serif-font-family);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4; }

h5,
.h5 {
  margin: 1rem 0;
  font-family: var(--serif-font-family);
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5; }

h6,
.h6 {
  margin: 1rem 0;
  font-family: var(--serif-font-family);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6; }

img, video {
  max-width: 100%;
  height: auto; }

.categories {
  grid-column: 2 / auto;
  display: inline-flex;
  list-style-type: none;
  font-size: 0.875rem; }
  .categories li {
    margin-right: 0.5rem;
    padding: 0.05rem 0.5rem;
    border: 1px solid black;
    border-radius: 15px; }

p {
  grid-column: 2 / auto; }

.img-responsive, .img-post, .img-accent, .img-full, .img-restricted {
  height: auto;
  object-fit: cover;
  object-position: center; }

.img-responsive {
  width: 100%;
  aspect-ratio: 16 / 9; }

.img-post {
  width: 90%;
  margin: 5%;
  aspect-ratio: 16 / 9; }

.img-accent {
  width: 90vw;
  max-height: 70vh;
  margin-bottom: 4rem;
  margin-left: 10vw;
  aspect-ratio: 3 / 1;
  box-shadow: -1.5rem 1.5rem var(--banner-border-color); }

.img-full {
  width: 100vw;
  max-height: 70vh;
  margin-bottom: 4rem;
  aspect-ratio: 2 / 1; }

.img-restricted {
  display: flex;
  align-self: center;
  width: 62rem;
  max-height: 70vh;
  margin: 0 auto 4rem;
  aspect-ratio: 2 / 1; }

.grid-column-center {
  grid-column: 2 / auto; }

.grid-column-full {
  grid-column: 1 / 4; }

.date-time {
  font-size: 0.875rem; }

.post-date,
.read-time {
  color: #737373; }

.middle-dot {
  font-weight: bold; }

.post-categories {
  display: flex; }

.lead {
  font-size: 1.125rem; }

.small-caps {
  font-variant-caps: small-caps; }

.hero {
  position: relative;
  padding: 0 1rem;
  font-family: var(--serif-font-family);
  font-size: 3rem;
  font-weight: bold;
  grid-column: 1 / 4;
  overflow: hidden; }
  .hero picture {
    position: absolute;
    z-index: -1; }
  .hero svg {
    position: absolute;
    z-index: -1; }
  .hero h1 {
    max-width: 60rem;
    margin: 4rem auto;
    color: #222;
    line-height: 1.3; }

.tmpl-post p:not(.date-time) {
  max-width: 57ch;
  margin: 0 auto 1rem; }

a {
  color: var(--blue); }

a:visited {
  color: var(--purple); }

.tmpl-home > :first-child {
  margin-bottom: 3rem; }

.tmpl-home,
.tmpl-post article,
.grid {
  display: grid;
  margin: 3rem 0;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 36rem) minmax(1.2rem, 1fr);
  overflow: hidden; }
  @media all and (min-width: 48em) {
    .tmpl-home,
    .tmpl-post article,
    .grid {
      grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 48rem) minmax(1.2rem, 1fr);
      margin: 3rem 0 5rem; } }
  @media all and (min-width: 64em) {
    .tmpl-home,
    .tmpl-post article,
    .grid {
      grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 60rem) minmax(1.2rem, 1fr); } }
  .tmpl-home h3,
  .tmpl-home ul,
  .tmpl-home hr,
  .tmpl-home pre,
  .tmpl-home time,
  .tmpl-home .post-categories,
  .tmpl-home .post-tag,
  .tmpl-post article h3,
  .tmpl-post article ul,
  .tmpl-post article hr,
  .tmpl-post article pre,
  .tmpl-post article time,
  .tmpl-post article .post-categories,
  .tmpl-post article .post-tag,
  .grid h3,
  .grid ul,
  .grid hr,
  .grid pre,
  .grid time,
  .grid .post-categories,
  .grid .post-tag {
    grid-column: 2 / auto; }

.tmpl-home {
  min-height: calc( 100vh - 92px - 6rem - 55px); }

table {
  margin: 1em 0; }

table td,
table th {
  padding-right: 1em; }

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5; }

pre {
  margin: .5em 0;
  padding: 1em;
  background-color: #f6f6f6;
  font-size: 14px;
  line-height: 1.375;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  direction: ltr;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

.tmpl-home p {
  max-width: 57ch; }

.tagslist {
  display: flex; }

.not-found h2:first-of-type {
  margin-top: 0; }

.gradient {
  background-image: url("/assets/images/mesh-gradient-white.jpg");
  background-image: url("/assets/images/mesh-gradient-white.webp");
  background-repeat: no-repeat;
  background-size: contain; }

.btn-link {
  padding: 0.25em 0.9em 0.3rem;
  transition: all 0.20s ease;
  border: 2px solid black;
  border-radius: 25px;
  background-color: black; }
  .btn-link a {
    transition: all 0.20s ease;
    color: white !important;
    font-size: 0.75rem;
    letter-spacing: 0; }
  .btn-link:hover {
    background-color: white !important;
    cursor: pointer; }
    .btn-link:hover a {
      color: black !important; }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Nav */ }
  @media only screen and (min-width: 60em) {
    header {
      flex-direction: row; } }
  header .nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem;
    list-style: none; }
    @media only screen and (min-width: 36em) {
      header .nav {
        margin-bottom: 0; } }
  header .nav-item {
    margin: 0 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase; }
    header .nav-item:first-of-type {
      margin-left: 0; }
  header .nav-item a[href] {
    transition: all 0.20s ease;
    text-decoration: none; }
  header .nav-item a[href],
  header .nav-item a[href]:visited {
    color: initial; }
  header .nav-item a[href]:hover {
    border-color: var(--blue);
    color: var(--blue); }
  header .nav-item-active a {
    padding-bottom: 3px;
    border-bottom: 2px solid black; }

a.home {
  width: fit-content;
  margin: 1.5rem;
  padding: 3px 9px 3px 6px;
  transition: all 0.20s ease;
  border: 3px solid black;
  border-radius: 4px;
  color: var(--body-font-color);
  font-family: var(--sans-font-family);
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1;
  text-decoration: none;
  font-variant-caps: small-caps; }
  a.home:visited {
    color: inherit; }
  a.home:hover {
    border-color: var(--blue);
    color: var(--blue); }

/* Posts list */
.postlist {
  grid-column: 2 / auto;
  margin: 2rem 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.7rem; }
  @media all and (min-width: 36em) {
    .postlist {
      grid-template-columns: repeat(2, 1fr); } }
  @media all and (min-width: 64em) {
    .postlist {
      grid-template-columns: repeat(3, 1fr); } }
  .postlist .post-tag {
    font-size: 0.75rem; }
  .postlist .post-title {
    margin: 0.5rem 0; }
  .postlist .date-time {
    padding-top: 1rem;
    border-top: 1px solid #eaeaea; }

.postlist-link,
.postlist-link:hover,
.postlist-link:visited {
  display: block;
  color: var(--darkgray);
  text-decoration: none; }

.postlist-item {
  border-radius: 15px;
  max-width: 57ch;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 -3px 6px -2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  background-color: #ffffffb3;
  transition: all 0.20s ease; }
  .postlist-item:hover {
    filter: invert(1) contrast(1); }

.post-image {
  display: flex;
  height: 10rem;
  filter: grayscale(1) brightness(1); }
  .post-image img {
    width: 100%;
    object-fit: cover; }

.post-content {
  padding: 1.5rem; }
  .post-content p:not(.post-title) {
    font-size: 1rem; }

.post-categories {
  margin-bottom: 1rem; }

.tmpl-post header {
  flex-direction: column;
  grid-column: 2 / auto; }
  .tmpl-post header h2 {
    margin-top: 0; }

.tmpl-post .content {
  grid-column: 2 / auto;
  max-width: 57ch; }

.tmpl-post footer {
  grid-column: 2 / auto;
  padding: 0;
  background-color: var(--white);
  color: var(--darkgray);
  font-size: 1.125rem;
  text-align: left; }
  .tmpl-post footer a {
    color: var(--blue); }
  .tmpl-post footer a:visited {
    color: var(--purple); }

/* Tags */
.post-tag {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.05em 0.5em;
  transition: all 0.20s ease;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 0.857rem;
  text-decoration: none;
  vertical-align: text-top; }
  .post-tag:first-of-type {
    margin-left: 0; }

a[href].post-tag,
a[href].post-tag:visited {
  color: initial; }

a[href].post-tag:hover {
  border-color: var(--blue);
  color: var(--blue); }

footer {
  padding: 1rem 0;
  background-color: #eee;
  color: #494949;
  font-size: 0.85rem; }
  footer .copyright {
    padding: 1rem 0;
    border-top: 1px solid #eee;
    text-align: center; }

.footer-top {
  grid-column: 2 / auto;
  display: flex;
  flex-direction: column; }
  .footer-top .footer-top-left,
  .footer-top .footer-top-right {
    flex: 1 100%; }
  .footer-top a.home {
    display: inline-block;
    margin: 1rem 0;
    border: 2px solid #494949;
    color: #494949;
    font-size: 1.5rem; }
    .footer-top a.home:hover {
      border: 2px solid var(--blue);
      color: var(--blue); }
  .footer-top .h6 {
    margin-bottom: 0.5rem; }
  .footer-top .footer-quick-links,
  .footer-top .footer-contact,
  .footer-top .footer-follow {
    margin-bottom: 1.5rem; }
  @media all and (min-width: 36em) {
    .footer-top .footer-top-right {
      display: flex; }
    .footer-top .footer-quick-links {
      flex: 1 40%; }
    .footer-top .footer-contact-follow {
      flex: 1 60%; } }
  @media all and (min-width: 48em) {
    .footer-top {
      flex-direction: row;
      /* if screen > 600px footer-top-right appears alongside footer-top-left getting 1/3rd of space */ }
      .footer-top .footer-top-left {
        flex: 1 50%;
        padding: 1rem 1rem 1rem 0; }
      .footer-top .footer-top-right {
        display: flex;
        flex: 1 50%;
        padding: 1rem 0 1rem 1rem; } }

.footer-quick-links a,
.footer-contact a,
.copyright a {
  width: 100%;
  padding-bottom: 1px;
  transition: all 0.2s;
  background-image: linear-gradient(transparent 95%, currentColor 1px);
  background-repeat: no-repeat;
  background-size: 0 100%;
  text-decoration: none; }
  .footer-quick-links a:hover,
  .footer-contact a:hover,
  .copyright a:hover {
    background-size: 100% 100%; }

.footer-quick-links li {
  margin-bottom: 0.25rem; }

.social-links {
  display: flex;
  flex-wrap: wrap; }
  .social-links .nav-link {
    margin-right: 0.5rem;
    padding: 0 7px;
    transition: all 0.20s ease;
    border: 2px solid #494949;
    border-radius: 50%;
    font-size: 1.75rem; }
    .social-links .nav-link svg {
      transition: all 0.20s ease;
      fill: #494949;
      color: #494949;
      stroke: #494949; }
    .social-links .nav-link:hover {
      border-color: var(--blue); }
      .social-links .nav-link:hover svg {
        fill: var(--blue);
        color: var(--blue);
        stroke: var(--blue); }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

@media only screen and (min-width: 48em) {
  .mb-lg-3 {
    margin-bottom: 3rem; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); }

.width-100 {
  width: 100vw; }

.text-black {
  color: black; }

/*# sourceMappingURL=main.css.map */