:root {
  --white: white;
  --grey-100: whitesmoke;
  --grey-200: #ebebeb;
  --grey-300: #cccccc;
  --grey-600: #737373;
  --grey-700: #4a4a4a;
  --grey-800: #363636;
  --grey-900: #212121;
  --black: black;
  --black-50-a: rgba(0, 0, 0, 0.05);
  --black-100-a: rgba(0, 0, 0, 0.1);
  --white-700-a: rgba(255, 255, 255, 0.7);
  --purple: purple;
  --blue: blue;
  --body-background: var(--white);
  --body-font-color: var(--grey-900);
  --font-size-small: 0.875rem;
  --sans-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, cursive;
  --serif-font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --mono-font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

.img-responsive, .img-post, .img-accent, .img-full, .img-restricted {
  height: auto;
  object-fit: cover;
  object-position: center; }

.grid {
  display: grid;
  margin: 3rem 0;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 36rem) minmax(1.2rem, 1fr);
  overflow: hidden; }
  @media all and (min-width: 48em) {
    .grid {
      margin: 3rem 0 5rem;
      grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 48rem) minmax(1.2rem, 1fr); } }
  @media all and (min-width: 64em) {
    .grid {
      grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 60rem) minmax(1.2rem, 1fr); } }

p, .grid > *:not(picture):not(.hero), .grid-column-center, .tmpl-post article > *:not(picture):not(.hero) {
  grid-column: 2 / auto; }

.grid-column-full, .hero {
  grid-column: 1 / 4; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--body-background);
  color: var(--body-font-color);
  font-family: var(--sans-font-family);
  font-size: 1.125rem;
  line-height: 1.7;
  overflow-x: hidden; }

p {
  margin-bottom: 1rem; }
  p:last-child {
    margin-bottom: 0; }

ul {
  list-style-type: none; }

hr {
  margin: 2rem 0; }

article {
  display: grid;
  margin: 3rem 0;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 57ch) minmax(1.2rem, 1fr);
  overflow: hidden; }

img, video {
  max-width: 100%;
  height: auto; }

a {
  color: var(--blue); }

a:visited {
  color: var(--purple); }

table {
  margin: 1em 0; }

table td,
table th {
  padding-right: 1em; }

pre,
code {
  font-family: var(--mono-font-family);
  line-height: 1.5; }

pre {
  margin: .5em 0;
  padding: 1em;
  background-color: var(--body-background);
  font-size: 14px;
  line-height: 1.375;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  direction: ltr;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 1rem 0;
  font-family: var(--serif-font-family);
  font-weight: bold; }

h1,
.h1 {
  margin-top: 0;
  font-size: 3rem;
  line-height: 1.1; }
  h1 > .direct-link,
  .h1 > .direct-link {
    display: none; }

h2,
.h2 {
  font-size: 2.35rem;
  line-height: 1.2; }

h3,
.h3 {
  font-size: 2rem;
  line-height: 1.3; }

h4,
.h4 {
  font-size: 1.5rem;
  line-height: 1.4; }

h5,
.h5 {
  font-size: 1.25rem;
  line-height: 1.5; }

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.6; }

.mb-0 {
  margin-bottom: 0; }

.mt-1 {
  margin-top: 1rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mr-1 {
  margin-right: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

@media all and (min-width: 48em) {
  .mb-lg-3 {
    margin-bottom: 3rem; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); }

.width-100 {
  width: 100vw; }

.text-black {
  color: var(--black); }

.text-muted {
  color: var(--grey-600); }

.text-lead {
  font-size: 1.125rem; }

.small-caps {
  font-variant-caps: small-caps; }

.font-bold {
  font-weight: bold; }

.font-small {
  font-size: var(--font-size-small); }

.display-flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.menu__items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
  list-style: none; }
  @media all and (min-width: 36em) {
    .menu__items {
      margin-bottom: 0; } }
  @media all and (min-width: 60em) {
    .menu__items > * + * {
      margin-left: 2rem; } }

.menu__item {
  font-size: var(--font-size-small);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase; }

.menu__link {
  transition: all 0.20s ease;
  text-decoration: none;
  color: initial; }
  .menu__link:visited {
    color: initial; }
  .menu__link:hover {
    border-color: var(--blue);
    color: var(--blue); }

.menu__item--active a {
  padding-bottom: 3px;
  border-bottom: 2px solid var(--black); }

.pager {
  text-align: center; }

.pager__numbers > * + *,
.pager__items > * + * {
  margin-left: 0.35em; }

.pager__numbers {
  display: inline-block;
  margin: 0 0.35em 0 0.7em; }

.pager__item {
  display: inline-block;
  margin-bottom: 0.35em;
  list-style-type: none;
  transition: all 0.20s ease;
  font-size: 1rem; }

.pager__link {
  display: flex;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 20px;
  text-decoration: none; }
  .pager__link:hover {
    color: var(--blue);
    border-color: var(--blue); }

.pager__content {
  display: inline-block;
  min-width: 1.85em;
  padding: 0.15em 0.6em 0;
  color: inherit; }

.pager__current {
  background: var(--grey-800);
  color: var(--white);
  border: 1px solid var(--grey-800);
  border-radius: 20px; }

.btn {
  padding: 0.25em 0.9em 0.3rem;
  transition: all 0.20s ease;
  border: 2px solid var(--grey-800);
  border-radius: 25px;
  background-color: var(--grey-800); }
  .btn:hover {
    background-color: var(--white);
    cursor: pointer; }

.btn-link a {
  transition: all 0.20s ease;
  color: var(--white);
  font-size: 0.75rem;
  letter-spacing: 0; }

.btn-link:hover a {
  color: var(--black); }

.hero {
  position: relative;
  padding: 0 1rem;
  overflow: hidden; }
  .hero picture {
    position: absolute;
    z-index: -1; }
  .hero svg {
    position: absolute;
    z-index: -1; }
  .hero h1 {
    max-width: 60rem;
    margin: 4rem auto;
    color: var(--grey-900);
    line-height: 1.3; }

.img-responsive {
  width: 100%;
  aspect-ratio: 16 / 9; }

.img-post {
  width: 90%;
  margin: 5%;
  aspect-ratio: 16 / 9; }

.img-accent {
  width: 90vw;
  max-height: 70vh;
  margin-bottom: 4rem;
  margin-left: 10vw;
  aspect-ratio: 3 / 1;
  box-shadow: -1.5rem 1.5rem var(--banner-border-color); }

.img-full {
  width: 100vw;
  max-height: 70vh;
  margin-bottom: 4rem;
  aspect-ratio: 2 / 1; }

.img-restricted {
  display: flex;
  align-self: center;
  width: 60rem;
  max-height: 70vh;
  margin: 0 auto 4rem;
  aspect-ratio: 2 / 1; }

.postlist {
  display: grid;
  margin: 2rem 0;
  padding: 0;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
  grid-column: 2 / auto;
  grid-auto-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.7rem; }
  @media all and (min-width: 36em) {
    .postlist {
      grid-template-columns: repeat(2, 1fr); } }
  @media all and (min-width: 64em) {
    .postlist {
      grid-template-columns: repeat(3, 1fr); } }
  .postlist .post-tag {
    font-size: 0.75rem; }
  .postlist .post-title {
    margin: 0.5rem 0; }
  .postlist .date-time {
    padding-top: 1rem;
    border-top: 1px solid var(--grey-200); }

.postlist-link,
.postlist-link:hover,
.postlist-link:visited {
  display: block;
  color: var(--grey-800);
  text-decoration: none; }
  .postlist-link:hover,
  .postlist-link:hover:hover,
  .postlist-link:visited:hover {
    color: var(--black); }
    .postlist-link:hover .text-muted,
    .postlist-link:hover:hover .text-muted,
    .postlist-link:visited:hover .text-muted {
      color: var(--black); }
    .postlist-link:hover .date-time,
    .postlist-link:hover:hover .date-time,
    .postlist-link:visited:hover .date-time {
      border-top: 1px solid var(--grey-800); }

.postlist-item {
  max-width: 57ch;
  transition: all 0.20s ease;
  border-radius: 15px;
  background-color: var(--white-700-a);
  box-shadow: 0 10px 15px -3px var(--black-100-a), 0 -3px 6px -2px var(--black-50-a);
  overflow: hidden; }
  .postlist-item:hover {
    filter: invert(1) contrast(1); }

.post-image {
  display: flex;
  height: 10rem;
  filter: grayscale(1) brightness(1); }
  .post-image img {
    width: 100%;
    object-fit: cover; }

.post-content {
  padding: 1.5rem; }
  .post-content p:not(.post-title) {
    font-size: 1rem; }

.post-categories {
  margin-bottom: 1rem; }

.post-tag {
  display: inline-block;
  margin: 0 0.5em 0.35em;
  padding: 0.05em 0.5em;
  transition: all 0.20s ease;
  border: 1px solid var(--black);
  border-radius: 15px;
  font-size: 0.857rem;
  text-decoration: none;
  vertical-align: text-top; }
  .post-tag:first-of-type {
    margin-left: 0; }

a.post-tag,
a.post-tag:visited {
  color: initial; }

a.post-tag:hover {
  border-color: var(--blue);
  color: var(--blue); }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media all and (min-width: 60em) {
    header {
      flex-direction: row; } }

a.home {
  width: fit-content;
  margin: 1.5rem;
  padding: 3px 9px 3px 6px;
  transition: all 0.20s ease;
  border: 3px solid var(--black);
  border-radius: 4px;
  color: var(--body-font-color);
  font-family: var(--sans-font-family);
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1;
  text-decoration: none;
  font-variant-caps: small-caps; }
  a.home:visited {
    color: inherit; }
  a.home:hover {
    border-color: var(--blue);
    color: var(--blue); }

.footer {
  padding: 1rem 0;
  background-color: var(--grey-200);
  color: var(--grey-700);
  font-size: 0.85rem; }

.footer-top {
  grid-column: 2 / auto;
  display: flex;
  flex-direction: column; }
  .footer-top .footer-top-left,
  .footer-top .footer-top-right {
    flex: 1 100%; }
  .footer-top a.home {
    display: inline-block;
    margin: 1rem 0;
    border: 2px solid var(--grey-700);
    color: var(--grey-700);
    font-size: 1.5rem; }
    .footer-top a.home:hover {
      border: 2px solid var(--blue);
      color: var(--blue); }
  .footer-top .h6 {
    margin-bottom: 0.5rem; }
  .footer-top .footer-quick-links,
  .footer-top .footer-contact,
  .footer-top .footer-follow {
    margin-bottom: 1.5rem; }
  @media all and (min-width: 36em) {
    .footer-top .footer-top-right {
      display: flex; }
    .footer-top .footer-quick-links {
      flex: 1 40%; }
    .footer-top .footer-contact-follow {
      flex: 1 60%; } }
  @media all and (min-width: 48em) {
    .footer-top {
      flex-direction: row;
      /* if screen > 600px footer-top-right appears alongside footer-top-left getting 1/3rd of space */ }
      .footer-top .footer-top-left {
        flex: 1 50%;
        padding: 1rem 1rem 1rem 0; }
      .footer-top .footer-top-right {
        display: flex;
        flex: 1 50%;
        padding: 1rem 0 1rem 1rem; } }

.copyright {
  padding: 1rem 0;
  border-top: 1px solid var(--grey-200);
  text-align: center; }

.footer-quick-links a,
.footer-contact a,
.copyright a {
  width: 100%;
  padding-bottom: 1px;
  transition: all 0.2s;
  background-image: linear-gradient(transparent 95%, currentColor 1px);
  background-repeat: no-repeat;
  background-size: 0 100%;
  text-decoration: none; }
  .footer-quick-links a:hover,
  .footer-contact a:hover,
  .copyright a:hover {
    background-size: 100% 100%; }

.footer-quick-links li {
  margin-bottom: 0.25rem; }

.social-links {
  display: flex;
  flex-wrap: wrap; }
  .social-links .nav-link {
    margin-right: 0.5rem;
    padding: 0 7px;
    transition: all 0.20s ease;
    border: 2px solid var(--grey-700);
    border-radius: 50%;
    font-size: 1.75rem; }
    .social-links .nav-link svg {
      transition: all 0.20s ease;
      fill: var(--grey-700);
      color: var(--grey-700);
      stroke: var(--grey-700); }
    .social-links .nav-link:hover {
      border-color: var(--blue); }
      .social-links .nav-link:hover svg {
        fill: var(--blue);
        color: var(--blue);
        stroke: var(--blue); }

.tmpl-home {
  min-height: calc( 100vh - 92px - 6rem - 55px); }
  .tmpl-home > :first-child {
    margin-bottom: 3rem; }
  .tmpl-home p {
    max-width: 57ch; }

.gradient-home {
  background-image: url("/assets/images/mesh-gradient-white.jpg");
  background-image: url("/assets/images/mesh-gradient-white.webp");
  background-repeat: no-repeat;
  background-size: contain; }

.tmpl-post header {
  flex-direction: column; }
  .tmpl-post header h2 {
    margin-top: 0; }

.tmpl-post .content {
  max-width: 57ch; }

.not-found h2:first-of-type {
  margin-top: 0; }

/*# sourceMappingURL=main.css.map */