.tmpl-home {
  min-height: calc( 100vh - 92px - 6rem - 55px);
  > :first-child {
    margin-bottom: var(--space-large);
  }
  p {
    max-width: var(--line-length);
  }
}

.gradient-home {
  background-image: url("/assets/images/mesh-gradient-white.jpg");
  background-image: url("/assets/images/mesh-gradient-white.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
