.tmpl-post {
  header {
    flex-direction: column;
    h2 {
      margin-top: 0;
    }
  }
  // Center all elements under article
  article > *:not(picture):not(.hero) {
    @extend %grid-column-center;
  }
  .content {
    max-width: 57ch;
  }
}
