.tmpl-post {
  // Center all elements under article except picture and hero
  article > *:not(picture):not(.hero) {
    @extend %grid-column-center;
  }
}

.post__header {
  flex-direction: column;
  h2 {
    margin-top: var(--space-0);
  }
}

.post__content {
  max-width: 57ch;
}

.post__next-prev {
  display: flex;
  flex-direction: column;
  @include media-query(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.post__next,
.post__prev {
  @include media-query(md) {
    width: 50%;
  }
}
.post__prev {
  @include media-query(md) {
    text-align: right;
  }
}

.post__prev--label,
.post__next--label {
    font-size: var(--font-size-sm);
    font-weight: 500;
    letter-spacing: var(--space-1);
    text-transform: uppercase;
    &::after {
      content: ":";
    }
    @include media-query(md) {
      &::after {
        content: "";
      }
    }
}
.post__next--label {
  @include media-query(md) {
    margin-left: -0.5rem;
  }
}
.post__prev--label {
  @include media-query(md) {
    margin-right: var(--space-8n);
  }
}

.post__prev--icon,
.post__next--icon {
  display: none;
  @include media-query(md) {
    display: inline;
    position: relative;
    top: var(--space-8);
  }
}
.post__prev--icon {
  left: var(--space-4n);
}
.post__next--icon {
  right: var(--space-4n);
}

.post__prev--link,
.post__next--link {
  text-decoration: none;
  @include media-query(md) {
    display: block;
  }
  span {
    width: 100%;
    padding-bottom: var(--space-1);
    transition: var(--transition-default);
    background-image: linear-gradient(transparent 95%, currentColor 0.07rem);
    background-repeat: no-repeat;
    background-size: 1rem 100%;
    text-decoration: none;
    &:hover {
      background-size: 100% 100%;
    }
  }
}
