.footer {
  padding: var(--space-simple) var(--space-0);
  background-color: var(--grey-200);
  color: var(--grey-800);
  font-size: var(--font-size-sm);
}

.footer__top {
  grid-column: 2 / auto;
  display: flex;
  flex-direction: column;
  @include media-query(sm) {
    flex-direction: row;
  }
}

.footer__top-left,
.footer__top-right {
  flex: 1 100%;
}

.footer__top-left {
  /* if screen > 600px footer-top-right appears alongside footer-top-left getting 1/3rd of space */
  @include media-query(sm) {
    flex: 1 50%;
    padding: var(--space-simple) var(--space-simple) var(--space-simple) var(--space-0);
  }
}

.footer__top-right {
  @include media-query(xs) {
    display: flex;
  }
  @include media-query(sm) {
    display: flex;
    flex: 1 50%;
    padding: var(--space-simple) var(--space-0) var(--space-simple) var(--space-simple);
  }
}

.footer__logo {
  display: inline-block;
  margin: var(--space-simple) var(--space-0);
  border: var(--border-width-medium) solid var(--grey-800);
  color: var(--grey-800);
  font-size: var(--font-size-xl);
  &:hover {
    border: var(--border-width-medium) solid var(--blue);
    color: var(--blue);
  }
}

.footer__quick-links,
.footer__contact,
.footer__follow {
  margin-bottom: var(--space-medium);
}

.footer__quick-links-wrapper {
  @include media-query(xs) {
    flex: 1 40%;
  }
}

//li under .footer__quick-links
.footer__quick-link-item {
  display: flex;
}

.footer__contact-follow-wrapper {
  @include media-query(xs) {
    flex: 1 60%;
  }
}

.footer__copyright {
  padding: var(--space-simple) var(--space-0);
  border-top: var(--border-width-thin) solid var(--grey-200);
  text-align: center;
}

.footer__link {
  padding: var(--space-sm-6) var(--space-sm-6) var(--space-sm-6) var(--space-sm-2);
  text-decoration: none;
  span {
    width: 100%;
    padding-bottom: var(--space-sm-1);
    transition: var(--transition-default);
    background-image: linear-gradient(transparent 95%,currentColor 0.07rem);
    background-repeat: no-repeat;
    background-size: 1rem 100%;
    &:hover {
      background-size: 100% 100%;
    }
  }
  @include media-query(md) {
    padding: var(--space-sm-2);
  }
}

.footer__social-items {
  display: flex;
  flex-wrap: wrap;
}

.footer__social-link {
  margin-right: var(--space-8);
  padding: var(--space-sm-2) var(--space-sm-6) var(--space-0) var(--space-sm-6);
  transition: var(--transition-default);
  border: var(--border-width-medium) solid var(--grey-700);
  border-radius: var(--border-radius-circle);
  font-size: var(--font-size-xl);
  svg {
    transition: var(--transition-default);
    fill: var(--grey-700);
    color: var(--grey-700);
    stroke: var(--grey-700);
  }
  &:hover {
    border-color: var(--blue);
    svg {
      fill: var(--blue);
      color: var(--blue);
      stroke: var(--blue);
    }
  }
}
