header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-query(md) {
    flex-direction: row;
	}
}

a.home {
  width: fit-content;
  margin: 1.5rem;
  padding: 3px 9px 3px 6px;
  transition: all 0.20s ease;
  border: 3px solid var(--black);
  border-radius: 4px;
  color: var(--body-font-color);
  font-family: var(--sans-font-family);
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1;
  text-decoration: none;
  font-variant-caps: small-caps;
  &:visited {
    color: inherit;
  }
  &:hover {
    border-color: var(--blue);
    color: var(--blue);
  }
}
