header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-query(md) {
    flex-direction: row;
  }
}

.home {
  width: fit-content;
  margin: var(--space-lg-1h);
  padding: var(--space-sm-2) var(--space-sm-8) var(--space-sm-4) var(--space-sm-6);
  transition: var(--transition-default);
  border: var(--border-width-thick) solid var(--body-font-color);
  border-radius: var(--border-radius-sm);
  color: var(--body-font-color);
  font-family: var(--sans-font-family);
  font-size: var(--font-size-2xl);
  font-weight: normal;
  letter-spacing: var(--space);
  line-height: 1;
  text-decoration: none;
  font-variant-caps: small-caps;

  &:visited {
    color: inherit;
  }

  &:hover {
    border-color: var(--link-color);
    color: var(--link-color);
  }
}
