.btn {
  padding: var(--space-sm-8) var(--space-sm-12);
  transition: var(--transition-default);
  border: var(--border-width-medium) solid var(--body-font-color);
  border-radius: var(--border-radius-default);
  background-color: var(--body-font-color);
  color: var(--body-font-color-alt);
  letter-spacing: var(--space);
  text-decoration: none;

  &:hover {
    border: var(--border-width-medium) solid var(--body-font-color);
    background-color: var(--body-font-color-alt);
    color: var(--body-font-color);
    cursor: pointer;
  }

  &:visited {
    background-color: var(--body-font-color);
    color: var(--body-font-color-alt);
  }
}

.btn-lg {
  padding: var(--space-sm-8) var(--space-lg-1h);
}
