.btn {
  padding: var(--space-4) var(--space-12);
  transition: var(--transition-default);
  border: var(--border-width-medium) solid var(--grey-800);
  border-radius: var(--border-radius-default);
  background-color: var(--grey-800);
  &:hover {
    background-color: var(--white);
    cursor: pointer;
  }
}

.btn-link {
  a {
    transition: var(--transition-default);
    color: var(--white);
    font-size: var(--font-size-xs);
    letter-spacing: var(--space-0);
  }
  &:hover {
    a {
      color: var(--black);
    }
  }
}
