//Needs to be imported before buttons to keep specificity low
.menu__items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
  list-style: none;
  @include media-query(xs) {
    margin-bottom: 0;
  }
  @include media-query(md) {
    // https://pineco.de/get-to-know-the-lobotomized-owl-selector/
    & > * + * {
      margin-left: 2rem;
    }
  }
}

.menu__item {
  font-size: var(--font-size-small);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.menu__link {
  transition: all 0.20s ease;
  text-decoration: none;
  color: initial;
  &:visited {
    color: initial;
  }
  &:hover {
    border-color: var(--blue);
    color: var(--blue);
  }
}

.menu__item--active {
  a {
    padding-bottom: 3px;
    border-bottom: 2px solid var(--black);
  }
}
