.pager {
  text-align: center;
}

// https://pineco.de/get-to-know-the-lobotomized-owl-selector/
.pager__numbers > * + *,
.pager__items > * + * {
  margin-left: var(--space-6);
}

.pager__numbers {
  display: inline-block;
  margin: var(--space-0) var(--space-6) var(--space-0) var(--space-12);
}

.pager__item {
  display: inline-block;
  margin-bottom: var(--space-6);
  list-style-type: none;
  transition: var(--transition-default);
  font-size: var(--font-size-base);
}

.pager__link {
  display: flex;
  border: var(--border-width-thin) solid var(--black);
  border-radius: var(--border-radius-default);
  color: var(--black);
  text-decoration: none;
  &:hover {
    border-color: var(--blue);
    color: var(--blue);
  }
}

.pager__content {
  display: inline-block;
  min-width: 1.85rem;
  padding: var(--space-2) var(--space-1) 0;
  //inherit from anchor
  color: inherit;
}

.pager__current {
  border: var(--border-width-thin) solid var(--grey-800);
  border-radius: var(--border-radius-default);
  background: var(--grey-800);
  color: var(--white);
}
