.pager {
  text-align: center;
}

// https://pineco.de/get-to-know-the-lobotomized-owl-selector/
.pager__numbers > * + *,
.pager__items > * + * {
  margin-left: 0.35rem;
}

.pager__numbers {
  display: inline-block;
  margin: 0 0.35rem 0 0.7rem;
}

.pager__item {
  display: inline-block;
  margin-bottom: 0.35rem;
  list-style-type: none;
  transition: all 0.20s ease;
  font-size: 1rem;
}

.pager__link {
  display: flex;
  border: 1px solid var(--black);
  border-radius: 20px;
  color: var(--black);
  text-decoration: none;
  &:hover {
    border-color: var(--blue);
    color: var(--blue);
  }
}

.pager__content {
  display: inline-block;
  min-width: 1.85rem;
  padding: 0.15rem 0.6rem 0;
  //inherit from anchor
  color: inherit;
}

.pager__current {
  border: 1px solid var(--grey-800);
  border-radius: 20px;
  background: var(--grey-800);
  color: var(--white);
}
