.pager {
  text-align: center;
  // See: https://www.tempertemper.net/blog/accessibility-issues-when-removing-list-markers
  li {
    display: inline-block;
    margin-bottom: 0.35em;
    border: 1px solid var(--black);
    border-radius: 20px;
    list-style-type: none;
    transition: all 0.20s ease;
    font-size: 1rem;
    &:before {
      content: "\200B";
    }
  }
  a {
    color: var(--black);
    text-decoration: none;
  }
  span {
    display: inline-block;
    min-width: 1.85em;
    padding: 0.15em 0.6em 0;
    //inherit from anchor or text-muted class added to current page
    color: inherit;
  }
  .current-page {
    background: var(--grey-800);
    color: var(--white);
    border: 1px solid var(--grey-800);
  }
}
