.postlist {
  display: grid;
  margin: var(--space-lg-2) var(--space-0);
  padding: var(--space-0);
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
  grid-column: 2 / auto;
  grid-auto-rows: 1fr;
  grid-column-gap: var(--space-lg-1h);
  /* stylelint-disable declaration-block-no-redundant-longhand-properties */
  grid-row-gap: 1.7rem;
  /* stylelint-enable declaration-block-no-redundant-longhand-properties */

  @include media-query(xs) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-query(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.postlist__item {
  max-width: var(--line-length);
  transition: var(--transition-default);
  border-radius: var(--border-radius-default);
  background-color: var(--card-background);
  box-shadow: -1rem 0 2rem var(--black-100-a);
  overflow: hidden;

  &:hover {
    cursor: pointer;
    box-shadow: 0 10px 15px -3px var(--black-100-a), 0 -3px 6px -2px var(--black-50-a);
  }
}
