.postlist {
  display: grid;
  margin: 2rem 0;
  padding: 0;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
  grid-column: 2 / auto;
  grid-auto-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.7rem;
  @media all and (min-width: 36em) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media all and (min-width: 64em) {
    grid-template-columns: repeat(3, 1fr);
  }
  .post-tag {
    font-size: 0.75rem; //12px
  }
  .post-title {
    margin: 0.5rem 0;
  }
  .date-time {
    padding-top: 1rem;
    border-top: 1px solid var(--grey-200);
  }
}

.postlist-link,
.postlist-link:hover,
.postlist-link:visited {
  display: block;
  color: var(--grey-800);
  text-decoration: none;
}

.postlist-item {
  max-width: 57ch;
  transition: all 0.20s ease;
  border-radius: 15px;
  background-color: var(--white-700-a);
  box-shadow: 0 10px 15px -3px var(--black-100-a), 0 -3px 6px -2px var(--black-50-a);
  overflow: hidden;
  &:hover {
    filter: invert(1) contrast(1);
  }
}

.post-image {
  display: flex;
  height: 10rem;
  filter: grayscale(1) brightness(1);
  img {
    width: 100%;
    object-fit: cover;
  }
}

.post-content {
  padding: 1.5rem;
  p:not(.post-title) {
    font-size: 1rem;
  }
}

.post-categories {
  margin-bottom: 1rem;
}
