.post-card__link,
.post-card__link:hover,
.post-card__link:visited {
  display: block;
  color: var(--grey-800);
  text-decoration: none;
  &:hover {
    color: var(--black);
    .text-muted {
      color: var(--black);
    }
    .post-card__date-time {
      border-top: var(--border-width-thin) solid var(--grey-800);
    }
  }
}

.post-card__image {
  display: flex;
  height: 10rem;
  filter: grayscale(1) brightness(1);
  img {
    width: 100%;
    object-fit: cover;
  }
}

.post-card__content {
  padding: var(--space-medium);
  p:not(.post-card__title) {
    font-size: var(--font-size-base);
  }
}

.post-card__tags {
  margin-bottom: var(--space-simple);
}

.post-card__title {
  margin: var(--space-sm-8) var(--space-0);
}

.post-card__date-time {
  padding-top: var(--space-simple);
  border-top: var(--border-width-thin) solid var(--grey-200);
}
