// https://pineco.de/get-to-know-the-lobotomized-owl-selector/
.tag__items > * + *,
.post-card__tags > * + * {
  margin-left: 0.35em;
}

.tag__item {
  margin-bottom: 0.35em;
}

.tag__link,
.post-card__tag {
  display: inline-block;
  padding: 0.05em 0.5em;
  transition: all 0.20s ease;
  border: 1px solid var(--black);
  border-radius: 15px;
  font-size: 0.857rem;
  color: initial;
  text-decoration: none;
  vertical-align: text-top;
  &:visited {
    color: initial;
  }
  &:hover {
    border-color: var(--blue);
    color: var(--blue);
  }
}

.post-card__tag {
  font-size: 0.75rem; //12px
}
