// https://pineco.de/get-to-know-the-lobotomized-owl-selector/
.tag__items > * + *,
.post-card__tags > * + * {
  margin-left: var(--space-sm-6);
}

.tag__item {
  margin-bottom: var(--space-sm-6);
}

.tag__link,
.post-card__tag {
  display: inline-block;
  padding: var(--space-sm-1) var(--space-sm-8);
  transition: var(--transition-default);
  border: var(--border-width-thin) solid var(--black);
  border-radius: var(--border-radius-default);
  color: initial;
  font-size: var(--font-size-sm);
  text-decoration: none;
  vertical-align: text-top;
  &:visited {
    color: initial;
  }
  &:hover {
    border-color: var(--blue);
    color: var(--blue);
  }
}

.post-card__tag {
  font-size: var(--font-size-xs); //12px
}
